.about__main {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about__paragraph {
  font-size: 16px;
  line-height: 2em;
}
/* profile photo */
.profile-picture {
  margin: -100px auto 0;
  width: 200px;
  position: relative;
}
.foreground1 {
  position: absolute;
  top: -5px;
  right: 10px;
  width: 200px;
  height: 200px;
  z-index: 2;
}
.foreground2 {
  position: absolute;
  bottom: -5px;
  left: 10px;
  width: 200px;
  height: 200px;
  z-index: 2;
}
.background {
  width: 200px;
  height: 200px;
  z-index: 1;
}
#hexagon__border1 {
  stroke: #83AFA6;
  fill: transparent;
}
#hexagon__border2 {
  stroke: #DD4747;
  fill: transparent;
}
